.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: white;
  border-color: white;
}

.rbc-toolbar button:hover {
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.2);
  color: #373a3c;
  border-color: white;
  background-color: white;
}

.rbc-toolbar button {
  color: white;
  border-color: white;
  transition-property: background-color, box-shadow, color;
  transition-duration: 0.1s, 0.3s, 0.1s;
  transition-delay: 0s, 0s, 0.03s;
}

.rbc-toolbar button.rbc-active {
  color: #0033a1;
  background-color: white;
  border-color: white;
}

.rbc-day-bg {
  /* background: #e6e6e6; */
  background: #ffffff;

  transition: box-shadow 0.2s;
}

.rbc-day-bg:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px #ddd;
}

/* #9CDCFF */
.rbc-off-range-bg {
  background: #8bc7ff;
}

.rbc-date-cell {
  text-align: center;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
  color: white;
}

.rbc-button-link {
  margin-top: 0.5vh;
  height: 3vh;
  width: 3vh;
  border-radius: 50%;

  color: #0033a1;
  transition: background-color 0.5s;
}

.rbc-button-link:hover {
  background-color: #f1f3f4 !important;
}

.rbc-now .rbc-button-link {
  background-color: #8bc7ff; /* Green */
  font-weight: normal;
}

.rbc-event {
  margin-top: 1vh;
}

.foo {
  background-color: magenta;
}
